<a href="https://colab.research.google.com/github/kjapan87/ReinforcementLearningV1/blob/main/ReinforcementLearningExample1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random as rd

In [ ]:
MainData = pd.read_csv("ADS_CT~1.CSV")

In [ ]:
d=10 #number of arms
n=10000 #number of times the ads was seen
Ni=[0]*d #the Number of times the ad was selected
adSelected =[] #
Ri=[0]*d #SumofRewards

In [ ]:
for n in range(0:Ni):
  for i in range(0:d):
    if Ni>0:
    AvgRewards=Ri/Ni
    Delta-i=math.sqrt(1.5*math.log(n)/Ni)
    UCB=AvgRewards+Delta-i
    else:
      UCB=0

In [ ]:
MainData

      Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0        1     0     0     0     1     0     0     0     1      0
1        0     0     0     0     0     0     0     0     1      0
2        0     0     0     0     0     0     0     0     0      0
3        0     1     0     0     0     0     0     1     0      0
4        0     0     0     0     0     0     0     0     0      0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
9995     0     0     1     0     0     0     0     1     0      0
9996     0     0     0     0     0     0     0     0     0      0
9997     0     0     0     0     0     0     0     0     0      0
9998     1     0     0     0     0     0     0     1     0      0
9999     0     1     0     0     0     0     0     0     0      0

[10000 rows x 10 columns]